

<!-- Estructura HTML de componente song -->

<div class="song" >
  <mat-list class="dealle">
    <ul class="song-detail">
      <li class="song-detail-item">
        <mat-form-field class="middle-width">
        <mat-label>Título</mat-label>
        <input matInput [(ngModel)]="song.title">
      </mat-form-field></li>
      <li class="song-detail-item">
        <mat-form-field class="middle-width">
          <mat-label>Autor</mat-label>
          <input matInput [(ngModel)]="song.artist">
        </mat-form-field>
      <li class="song-detail-item">
        <mat-form-field class="middle-width">
          <mat-label>Año</mat-label>
          <input matInput [(ngModel)]="song.year">
        </mat-form-field>
      </li>
      <li class="song-detail-item">
        <mat-form-field class="middle-width">
          <mat-label>Disco</mat-label>
          <input matInput [(ngModel)]="song.album">
        </mat-form-field>
      <li class="song-detail-item">
        <mat-form-field>
          <mat-label  class="middle-width">Género</mat-label>
          <mat-select [formControl]="genres" multiple>
            <mat-option *ngFor="let genre of song.genres" [value]="genre">{{genre}}</mat-option>
          </mat-select>
        </mat-form-field>
      </li>
      <li class="song-detail-item">
        <mat-form-field class="middle-width">
          <mat-label>Compositor/a</mat-label>
          <input matInput [(ngModel)]="song.songwriter">
        </mat-form-field>
      <li class="song-detail-item">
        <mat-form-field class="middle-width">
          <mat-label>Productor/a</mat-label>
          <input matInput [(ngModel)]="song.producer">
        </mat-form-field>
    </ul>
  </mat-list>
</div>

