
/* Estilos minimos componente song */

.song-body{
  background-color: #3C3C3C;
  padding: 50px;
}

tabla{
  list-style-type: none;
  color: #ffffff;
  font-family: 'Open Sans regular';
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
}

li{
  list-style-type: none;
  color: #ffffff;
  font-family: 'Open Sans regular';
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
  margin-bottom: 20px;
  margin-left: 500px;
}
