
/* Estilos minimos componente song */

/*.song-body{
  background-color: #3C3C3C;
  padding: 50px;
}
*/
.song{
  background-color: #3C3C3C;
  padding: 25px 30px;
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 200px;
  box-sizing: inherit;
}
.detalle{
  list-style-type: none;
  color: #ffffff;
  font-family: 'Open Sans regular';
  font-size: 22px;
  font-weight: normal;
  text-decoration: none;
  text-align: left;

}

li{
  list-style-type: none;
  color: #ffffff;
  font-family: 'Open Sans regular';
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}
.song-detail-item{
  font-family: 'Open Sans regular';
  font-size: 18px;
}
