
/* Estilos minimos componente song-list */

.header{
  background-color: #3D0B61;
  padding: 30px;
}

.footer{
  background-color: #3D0B61;
  padding: 59.5px;
}

a{
  font-family: 'Roboto';
  color: #EB9113;
  font-size: 20px;
  text-align: left;
  text-decoration: none;
}

html{
  background-color: #242424;
}

.center-peke{
  background-color: #242424;
  width: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 310px;
  margin-right: 200px;
}

b{
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
}

b:hoover{
  background-color: #3D0B61;
}

.finder-song{
  width: 355px;
}

th{
  font-family: 'Roboto';
  color: #3D0B61;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: 4px solid;
  border-color: #B47CE0;
  background-color: #A96ED8;
}

td{
  font-family: 'Roboto';
  color: #000000;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  height: 70px;
  width: 40%;
  border: 4px solid;
  border-color: #B47CE0;
  background-color: #A96ED8;
}

input {
  width: 200px;
  padding: 0.5px;
  color:#ECE3F2;
  font-size: 22px;
}


