
/* Estilos minimos componente song-list */

h2{
  color: #ffffff;
  font-family: 'Open Sans bold';
  font-size: 60px;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
}

h3{
  color: #ffffff;
  font-family: 'Open Sans bold';
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
}

h4{
  color: #ffffff;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
}

h5{
  color: #ffffff;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
}

h6{
  color: #ffffff;
  font-family: 'Open Sans bold';
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  text-align: right;
}

h7{
  color: #ffffff;
  font-family: 'Open Sans semibold';
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
}

h8{
  color: #ffffff;
  font-family: 'Open Sans';
  font-size: 22px;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
}

span{
  bottom: 0;
  width:100%;
  text-align: center;
  color: #FFFF;
  font-family: 'Open Sans';
  font-style: normal;
  font-size: 18px;
  padding: 5px;
}

p{
  color: #ffffff;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
}

.header{
  background-color: #3C3C3C;
  padding: 50px;
}

.header-image {
  position: relative;
  background-size: cover;
  height: 180px;
  width: 100%;
  z-index: 1;
}
.title-head{
  color: #ffffff;
  font-family: 'Open Sans';
  font-size: 30px;
  position: absolute;
  margin: 150px 60px;
  z-index: 30;
}
.gradient{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
  position: absolute;
  margin-top: 0;
  z-index: 30;
  height: 250px;
  width: 100%;
}
.fondo-header{
  display: inline-block;
  position: absolute;
  margin-top: 0;
  z-index: 0;
}

.center-peke{
  background-color: #4D4D4D;
  width: 90%;
  margin: 20px 60px;
  position: relative;
  z-index: 20;
}

.finder{
  background-color: #3C3C3C;
  text-decoration-color: #F87D51;
  font-family: 'Open Sans';
  font-size: 18px;
  height: 70px;
  width: 380px;
  margin: 20px 20px 30px 0;
  padding-inline: 10px;
  order: 0;
  }

.seccion-filtros{
  display: flex;
  flex-flow: row wrap ;
  justify-content: space-between;
  align-items: baseline;
}

.filtros{
  order: 1;
  margin: 10px 0 45px;
  display: flex;
  flex-flow: row wrap;
}

.filtro-artista {
  order: 2;
  margin-right: 15px;
}
.filtro-genero {
  order: 3;
}

input {
  width: 200px;
  padding: 0.5px;
  color:#ECE3F2;
  font-size: 22px;
}

.col-2{
  margin: -50px -85px 50px 0;
}

.clicable:hover{
  color: #F87D51;
  cursor: pointer;
}

.song-list{
  padding-bottom: 60px;
}