<!-- Estructura HTML de componente song-list -->

<html>

  <header>

    <div class="header">
        <a routerLink="/songlist">
          <img class="img-fluid" src="../../assets/img/logo.png" alt="Logo">
        </a>
    </div>

    <div class="header-image">
      <div class="gradient"></div>
      <h6 class="title-head">Listen to all music</h6>
      <img class="img-fluid fondo-header" src="../../assets/img/cascos.png" alt="Fondo">
    </div>
  </header>

  <body>

  <div class="center-peke">

    <section class="seccion-filtros flex-container">
      <mat-form-field class="finder" color="warn">
        <input matInput
          type="text"
          class="finder-song"
          placeholder="Comienza a escuchar tus canciones favoritas"
          [(ngModel)]="textSong"
          name="textSong"
        />
      </mat-form-field>

      <div class="d-flex filtros">
        <mat-form-field appearance="fill" color="warn" class="filtro-artista">
          <mat-label>Selecciona Artista</mat-label>
          <mat-select [(value)]="artistSelected" (change)="filterBy()" name="filtrar" id="filtrar">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let artist of artists" [value]="artist">
              {{artist}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" color="warn" class="filtro-genero" >
          <mat-label>Selecciona Género</mat-label>
          <mat-select [(ngModel)]="genereSelected" (change)="filterBy()" name="filtrar" id="filtrar">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let genere of generes" [value]="genere">
              {{genere}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      <!--
        <div class="filtro-artista">
          <select [(ngModel)]="artistSelected" (change)="filterBy()" name="filtrar" id="filtrar">
            <option value="">Selecciona Artista</option>
            <option *ngFor="let artist of artists" value="{{ artist }}">
              {{ artist }}
            </option>
          </select>
        </div>
        <div class="filtro-genero">
          <select [(ngModel)]="genereSelected" (change)="filterBy()" name="filtrar" id="filtrar">
            <option value="">Selecciona Género</option>
            <option *ngFor="let genere of generes" value="{{ genere }}">
              {{ genere }}
            </option>
          </select>
        </div>
      -->
      </div>
    </section>

    <table class="table">
      <mat-list class="tabla">
      <thead>
        <tr>
          <th>TÍTULO</th>
          <th>ARTISTA</th>
          <th>GÉNERO</th>
          <th>DURACIÓN</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let s of filteredSongs | filtro: textSong">
            <td class="clicable">
              <b (click)="setSong(s)" >{{ s.title }}</b>
            </td>
            <td>{{ s.artist }}</td>
            <td>{{ s.genres }}</td>
            <td>{{ s.duration }}</td>
          </tr>
      </tbody>
      </mat-list>
    </table>

  </div>

  </body>

  <div *ngIf="songSelected.id > 0">
    <app-song [song]="songSelected"></app-song>
    <app-interfaz-reproductor [source]="songSelected.source"></app-interfaz-reproductor>
  </div>

  <footer>
    <div>&nbsp;</div>
    <p>Pinpilinpauxa © 2022</p>
  </footer>

</html>
