<!-- Estructura HTML de componente song-list -->

<html>

  <header>

    <div class="header">
        <a routerLink="/songlist">
          <img class="img-fluid" src="../../assets/img/logo.png" alt="Logo">
        </a>
    </div>

    <div class="header-image">
      <div class="gradient"></div>
      <h6 class="title-head">Listen to all music</h6>
      <img class="img-fluid fondo-header" src="../../assets/img/cascos.png" alt="Fondo">
    </div>
  </header>

  <body>

  <div class="center-peke">

    <section class="seccion-filtros flex-container">
      <mat-form-field class="finder" color="warn">
        <input matInput
          type="text"
          class="finder-song"
          placeholder="Comienza a escuchar tus canciones favoritas"
          [(ngModel)]="textSong"
          name="textSong"
        />
      </mat-form-field>

      <button class="d-flex" mat-raised-button color="warn" (click)="openDialog()">Añadir Canción</button>
      
      <div class="d-flex filtros">
        <mat-form-field appearance="fill" color="warn" class="filtro-artista">
          <mat-label>Selecciona Artista</mat-label>
          <mat-select [(ngModel)]="artistSelected" (ngModelChange)="filterBy()" name="filtrar" id="filtrar">
            <mat-option *ngFor="let artist of artists" [value]="artist">
              {{artist}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" color="warn" class="filtro-genero" >
          <mat-label>Selecciona Género</mat-label>
          <mat-select [(ngModel)]="genereSelected" (ngModelChange)="filterBy()" name="filtrar" id="filtrar">
            <mat-option *ngFor="let genere of generes" [value]="genere">
              {{genere}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </section>

    <mat-selection-list class="song-list" [multiple]="false">
          <mat-list-item class="horizontal-mat-list-item" style="border-bottom:2px solid white">
            <mat-list-item><strong>TÍTULO</strong></mat-list-item>
            <mat-list-item><strong>ARTISTA</strong></mat-list-item>
            <mat-list-item><strong>GÉNERO</strong></mat-list-item>
            <mat-list-item><strong>DURACIÓN</strong></mat-list-item>
          </mat-list-item>
          <mat-list-item class="horizontal-mat-list-item border-bottom border-secondary clicable" *ngFor="let s of filteredSongs | filtro: textSong">
            <mat-list-option>
              <b (click)="setSong(s)" >{{ s.title }}</b>
            </mat-list-option>
            <mat-list-item>{{ s.artist }}</mat-list-item>
            <mat-list-item>{{ s.genres }}</mat-list-item>
            <mat-list-item>{{ s.duration }}</mat-list-item>
          </mat-list-item>
    </mat-selection-list>

  </div>

  </body>

  <div *ngIf="songSelected.id > 0">
    <app-song [song]="songSelected" [generes]="generes"></app-song>
    <app-interfaz-reproductor [source]="songSelected.source"></app-interfaz-reproductor>
  </div>

  <footer>
    <div>&nbsp;</div>
    <p>Pinpilinpauxa © 2022</p>
  </footer>

</html>
